
.flag-message {
  position: absolute;
  top: 1.7em;
  line-height: normal;
  left: 0;
  text-align: left;
  width: 300px;
  font-size: .8em;
  z-index: 999;
  background: white;
  width: 85px;
  box-shadow: 0px 0px 15px gray;
  padding: 5px;
}

.flag-wrapper {
  position: relative;
}

/* The rest deals with indicating the waiting state. */

.flag-waiting a {
  /* Give an impression of a disabled link. */
  opacity: 0.5;
  filter: alpha(opacity=50); /* IE */
}

.flag-throbber {
  display: none;
}

.flag-waiting .flag-throbber {
}

