.category {
  float: left;
  width: 49%;
}

.t_ps_ng .category {
  width: 32%;
}

.locations .category {
  width: 99%;
}

.locations li {
  float: left;
}

.daytime .category {
  width: 24%;
}

#seshes,
.categories {
  clear: both;
}
